body, html {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: "Azonix";
  src: url("../fonts/azonix.otf");
}

/* CSS for the NAVBAR. */

nav {
	display: block;
	width: 100%;
	position: fixed;

	top: 0;
	left: 0;

	margin: 0;
	padding: 0.5% 0%;

	background-color: black;
	z-index: 1000;
}

nav .logo {
	display: inline-block;
	width: 6.5%;

	margin: 0 42% 0 8%;
	padding: 0;
}

nav .logo img {
	width: 100%;
}

nav a {
	display: inline-block;
	padding: 0% 1%;

	font-family: "Azonix";
	font-size: 130%;
	color: #DDD;

	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

nav a:hover {
	color: white;
	text-shadow: 0px 0px 8px white;
}

/* CSS for the TITLE. */

.content-body {
	display: block;
	width: 100%;
	position: fixed;

	top: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 999;
}

.title {
	display: block;
	width: 100%;

	margin: 0;
	margin-top: 18%;

	color: #DDD;
	font-size: 800%;
	font-family: "Azonix";

	text-align: center;

	animation-name: flicker;
	animation-delay: 5s;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.motto {
	display: block;
	width: 100%;

	margin: 2% 0%;

	color: white;
	font-size: 130%;
	font-family: "Azonix";

	text-align: center;
}

@keyframes flicker {
	0% { color: #DDD; text-shadow: none; }
	9% { color: #DDD; text-shadow: none; }
	10% { color: white; text-shadow: 0px 0px 10px white; }
	19% { color: white; text-shadow: 0px 0px 10px white; }
	20% { color: #DDD; text-shadow: none; }
	29% { color: #DDD; text-shadow: none; }
	30% { color: white; text-shadow: 0px 0px 10px white; }
	34% { color: white; text-shadow: 0px 0px 10px white; }
	35% { color: #DDD; text-shadow: none; }
	44% { color: #DDD; text-shadow: none; }
	45% { color: white; text-shadow: 0px 0px 10px white; }
	47% { color: white; text-shadow: 0px 0px 10px white; }
	48% { color: #DDD; text-shadow: none; }
	52% { color: #DDD; text-shadow: none; }
	53% { color: white; text-shadow: 0px 0px 10px white; }
	55% { color: white; text-shadow: 0px 0px 10px white; }
	56% { color: #DDD; text-shadow: none; }
	58% { color: white; text-shadow: 0px 0px 10px white; }
	60% { color: #DDD; text-shadow: none; }
	61% { color: white; text-shadow: 0px 0px 10px white; }
	62% { color: #DDD; text-shadow: none; }
	63% { color: white; text-shadow: 0px 0px 10px white; }
	64% { color: #DDD; text-shadow: none; }
	65% { color: white; text-shadow: 0px 0px 10px white; }
	66% { color: #DDD; text-shadow: none; }
	67% { color: white; text-shadow: 0px 0px 10px white; }
	68% { color: #DDD; text-shadow: none; }
	69% { color: white; text-shadow: 0px 0px 10px white; }
	70% { color: #DDD; text-shadow: none; }
	71% { color: white; text-shadow: 0px 0px 10px white; }
	100% { color: white; text-shadow: 0px 0px 10px white; }
}
